## Energy data transformation

In [56]:
import pandas as pd
import openpyxl
import numpy as np

**0. Load prerequisites**

In [57]:
datasets = !ls datasets
years = list(range(2000,2018))
countries = list(pd.read_csv('datasets/'+str(datasets[0])).Country)
print(*datasets, sep="\n")

(0)countries.csv
1971-2014Electric power consumption (kWh per capita).xls
(1990-2015)Consumption_GDP ratio.csv
1990-2015GDP per capita (current US$).xls
1990-2015Renewable electricity output (_ of total electricity output).xls
countrydatasheets_august2018 (1).xlsx
expenditures on R_D in percentage of GDP.xls
Global Climate Legislation Database.csv
household_EU_2009-2017_ilc_di04_1_Data.csv
(Not complete) R_D Total Support in Million Euros.xlsx

** 1. Percentage of the Total of Renewable energy consumption **

In [58]:
renewable_energy = pd.read_csv('datasets/'+str(datasets[2]))

In [59]:
renewable_energy.head(3)

,Entity,Code,Year,Renewable energy consumption (% of total final energy consumption) (% of total final energy consumption),"GDP per capita, PPP (constant 2011 international $) (constant 2011 international $)",Total population (Gapminder)
0,Afghanistan,AFG,1800,NaN,NaN,3280000.0
1,Afghanistan,AFG,1820,NaN,NaN,3280000.0
2,Afghanistan,AFG,1870,NaN,NaN,4207000.0

In [60]:
renewable_energy = renewable_energy[['Entity','Year',
                                     'Renewable energy consumption (% of total final energy consumption) (% of total final energy consumption)']]
renewable_energy.columns = ['country','year','percentage_renewable_energy']
renewable_energy = renewable_energy[(renewable_energy.year.isin(years)) & 
                                    (renewable_energy.country.isin(countries))]

In [61]:
renewable_energy.head(3)

     country  year  percentage_renewable_energy
161  Albania  2000                    41.445416
162  Albania  2001                    39.125664
163  Albania  2002                    35.896294

** 2. Total RD&D in Million Euro **

In [62]:
research_energy = pd.read_excel('datasets/'+str(datasets[-1]), header=4 ,sheet_name='OECD.Stat export')

In [63]:
research_energy.head(3)

,Time,Unnamed: 1,1974,1975,1976,1977,1978,1979,1980,1981,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Country,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Australia,NaN,..,..,..,..,..,0,14.431,16.799,...,35.027,31.066,97.929,72.585,52.407,51.642,21.583,21.449,15.088,21.936
2,Austria,NaN,..,..,..,14.891,16.478,15.204,19.663,16.422,...,27.352,42.722,62.972,70.77,60.305,59.508,64.833,58.456,67.333,65.747

In [64]:
research_energy = pd.melt(research_energy, id_vars=research_energy.columns[0], 
            value_vars=list(research_energy.columns[1:]), var_name='Year', value_name='rrd_million_euro')
research_energy.columns = ['country','year','rrd_million_euro']
research_energy = research_energy[(research_energy.year.isin(list(map(str,years))))&
                                 (research_energy.country.isin(countries))]
research_energy.year = list(map(int, research_energy.year))
research_energy.rrd_million_euro = [0 if type(i) == str else i for i in research_energy.rrd_million_euro]

In [65]:
research_energy.head(3)

            country  year  rrd_million_euro
893         Austria  2000              9.62
894         Belgium  2000              0.00
896  Czech Republic  2000              0.00

** 3. Electric power consumption (kWh per capita) **

In [66]:
electric_consumption = pd.read_excel('datasets/'+str(datasets[1]), header=3 ,sheet_name='Data')

In [67]:
electric_consumption.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,Electric power consumption (kWh per capita),EG.USE.ELEC.KH.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,Electric power consumption (kWh per capita),EG.USE.ELEC.KH.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Angola,AGO,Electric power consumption (kWh per capita),EG.USE.ELEC.KH.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,188.961667,206.340578,207.031259,219.356355,280.402518,312.476017,NaN,NaN,NaN,NaN

In [68]:
electric_consumption = pd.melt(electric_consumption, id_vars=electric_consumption.columns[0], 
            value_vars=list(electric_consumption.columns[1:]), var_name='Year',
            value_name='kwh_per_capita_consumption')
electric_consumption.columns = ['country','year','kwh_per_capita_consumption']
electric_consumption = electric_consumption[(electric_consumption.year.isin(list(map(str,years)))) &
                                           (electric_consumption.country.isin(countries))]
electric_consumption.year = list(map(int, electric_consumption.year))

In [69]:
electric_consumption.head(3)

       country  year kwh_per_capita_consumption
11355  Albania  2000                    1449.65
11356  Andorra  2000                        NaN
11364  Austria  2000                    7076.27

** 4. GDP per capita (current US$) **

In [70]:
gdp_per_capita = pd.read_excel('datasets/'+str(datasets[4]), header=3 ,sheet_name='Data')

In [71]:
gdp_per_capita #TODO fix

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,11.327377,12.101021,14.915254,14.912186,15.099280,14.856161,NaN,NaN,NaN
1,Afghanistan,AFG,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,87.176603,85.986547,82.487562,85.909980,78.636408,85.323549,86.050111,NaN,NaN,NaN
2,Angola,AGO,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,65.343189,67.957423,70.907804,60.799484,58.020935,53.175105,53.174928,NaN,NaN,NaN
3,Albania,ALB,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,99.980777,99.986786,98.592221,100.000000,100.000000,100.000000,100.000000,NaN,NaN,NaN
4,Andorra,AND,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,76.543210,88.731145,86.513158,86.689420,88.753269,89.432177,86.116700,NaN,NaN,NaN
5,Arab World,ARB,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.328486,3.854010,3.549766,3.481219,3.770385,3.278073,2.920702,NaN,NaN,NaN
6,United Arab Emirates,ARE,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.094142,0.258307,0.232401,NaN,NaN,NaN
7,Argentina,ARG,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,28.927403,28.585456,32.305970,29.261135,31.484491,31.576204,28.140069,NaN,NaN,NaN
8,Armenia,ARM,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,35.672721,39.485441,33.539704,28.944749,28.236057,25.754839,28.336966,NaN,NaN,NaN
9,American Samoa,ASM,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.702427,0.703140,0.700882,0.885478,NaN,NaN,NaN
10,Antigua and Barbuda,ATG,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,1.494768,1.497006,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
11,Australia,AUS,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.497934,8.611880,10.426652,10.592653,13.264108,14.906712,13.637841,NaN,NaN,NaN
12,Austria,AUT,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,71.139695,66.211323,65.631423,74.529181,78.024787,81.056868,76.490779,NaN,NaN,NaN
13,Azerbaijan,AZE,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,12.242951,18.423303,13.186163,7.921524,6.671234,5.629246,7.039857,NaN,NaN,NaN
14,Burundi,BDI,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,96.393637,87.653400,90.857309,97.961819,87.020569,80.718789,82.709385,NaN,NaN,NaN
15,Belgium,BEL,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.056388,6.920806,9.410879,12.812879,14.209386,17.080641,20.800023,NaN,NaN,NaN
16,Benin,BEN,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.781250,0.869565,0.000000,0.000000,0.000000,0.000000,5.555556,NaN,NaN,NaN
17,Burkina Faso,BFA,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,18.905402,20.785424,15.455746,15.456000,14.438210,10.397128,9.354039,NaN,NaN,NaN
18,Bangladesh,BGD,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.121661,1.787203,1.974951,1.600016,1.946536,1.319724,1.226890,NaN,NaN,NaN
19,Bulgaria,BGR,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,8.772799,12.577960,7.866381,11.436484,16.078850,15.743602,17.988593,NaN,NaN,NaN
20,Bahrain,BHR,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
21,"Bahamas, The",BHS,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
22,Bosnia and Herzegovina,BIH,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,39.820015,46.869890,28.710733,29.931828,41.464673,36.726485,35.517308,NaN,NaN,NaN
23,Belarus,BLR,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.345668,0.372546,0.428571,0.555213,0.844257,0.722614,0.815680,NaN,NaN,NaN
24,Belize,BLZ,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,79.291421,63.380952,62.941598,49.194006,55.813013,50.705475,45.239930,NaN,NaN,NaN
25,Bermuda,BMU,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
26,Bolivia,BOL,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,39.487012,33.953077,34.196676,32.306487,32.176069,28.006853,31.402439,NaN,NaN,NaN
27,Brazil,BRA,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,88.995776,84.724234,87.120997,82.448283,76.689208,73.082074,73.966908,NaN,NaN,NaN
28,Barbados,BRB,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
29,Brunei Darussalam,BRN,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.053691,0.050891,0.045434,0.044385,0.047619,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,Latin America & the Caribbean (IDA & IBRD coun...,TLA,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,59.305636,58.340310,59.299336,56.603511,54.839091,54.615895,53.244389,NaN,NaN,NaN
235,Timor-Leste,TLS,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
236,Middle East & North Africa (IDA & IBRD countries),TMN,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,5.272211,5.887490,5.833885,5.811754,6.246783,5.407066,5.095516,NaN,NaN,NaN
237,Tonga,TON,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,3.845216,4.578362,5.907409,NaN,NaN,NaN
238,South Asia (IDA & IBRD),TSA,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,17.454493,18.179332,18.719760,17.194764,18.871312,17.618236,16.867799,NaN,NaN,NaN
239,Sub-Saharan Africa (IDA & IBRD countries),TSS,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,22.690958,23.732982,23.803552,24.091232,24.764099,26.581241,26.616637,NaN,NaN,NaN
240,Trinidad and Tobago,TTO,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.242254,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
241,Tunisia,TUN,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.153947,1.160518,1.000182,1.721942,2.333932,3.062022,2.835942,NaN,NaN,NaN
242,Turkey,TUR,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,19.578363,26.377789,25.326841,27.230517,28.823172,20.887194,31.956621,NaN,NaN,NaN
243,Tuvalu,TUV,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,28.169014,NaN,NaN,NaN
244,Tanzania,TZA,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,55.789918,51.687524,39.799725,32.188227,29.506817,42.289757,34.154091,NaN,NaN,NaN
245,Uganda,UGA,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,59.605934,54.843438,61.112371,87.000172,96.267674,91.358964,92.950527,NaN,NaN,NaN
246,Ukraine,UKR,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.979651,7.091639,5.745122,5.663355,7.800997,5.587031,4.381647,NaN,NaN,NaN
247,Upper middle income,UMC,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,22.971321,23.162455,21.986680,23.412018,23.503957,24.464205,25.226142,NaN,NaN,NaN
248,Uruguay,URY,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,68.738017,87.621646,72.041763,61.743890,80.852341,90.726085,88.558952,NaN,NaN,NaN
249,United States,USA,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,10.291845,10.120355,12.225714,12.007397,12.637919,12.953827,13.228593,NaN,NaN,NaN
250,Uzbekistan,UZB,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,18.678679,20.978723,19.541985,21.352381,21.328413,21.353791,20.652933,NaN,NaN,NaN
251,St. Vincent and the Grenadines,VCT,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,18.354430,17.500000,21.373414,17.980437,17.985612,15.875032,15.662651,NaN,NaN,NaN
252,"Venezuela, RB",VEN,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,71.886603,67.490001,70.930223,67.411408,67.834524,68.262704,63.695042,NaN,NaN,NaN
253,British Virgin Islands,VGB,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.810176,0.816358,1.020253,1.286270,1.286270,NaN,NaN,NaN
254,Virgin Islands (U.S.),VIR,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.341456,0.971551,1.650199,2.755002,3.877525,NaN,NaN,NaN
255,Vietnam,VNM,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,36.132251,29.140280,39.460181,45.019219,41.662002,42.981407,36.732058,NaN,NaN,NaN
256,Vanuatu,VUT,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,18.989369,19.118074,15.916802,15.367483,15.066470,15.315315,21.259843,NaN,NaN,NaN
257,World,WLD,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,19.334182,19.560998,19.932825,20.901536,21.710346,22.407258,22.854456,NaN,NaN,NaN
258,Samoa,WSM,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,34.308511,41.049914,32.293578,32.798574,36.473888,33.795227,30.350485,NaN,NaN,NaN
259,Kosovo,XKX,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.411576,3.037926,1.810033,1.615346,2.191571,2.777778,2.287956,NaN,NaN,NaN
260,"Yemen, Rep.",YEM,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
261,South Africa,ZAF,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.693637,0.948381,0.918421,0.602951,0.609024,1.293136,2.255042,NaN,NaN,NaN
262,Zambia,ZMB,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,99.878702,99.875574,99.869543,99.854463,99.857143,97.163022,96.993824,NaN,NaN,NaN
263,Zimbabwe,ZWE,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,75.641201,68.009233,57.855903,60.393350,53.939394,55.605426,52.724276,NaN,NaN,NaN

In [72]:
gdp_per_capita = pd.melt(gdp_per_capita, id_vars=gdp_per_capita.columns[0], 
            value_vars=list(gdp_per_capita.columns[1:]), var_name='Year', 
            value_name='gdp_per_capita')
gdp_per_capita.columns = ['country','year','gdp_per_capita']
gdp_per_capita = gdp_per_capita[(gdp_per_capita.year.isin(list(map(str,years)))) &
                               (gdp_per_capita.country.isin(countries))]
gdp_per_capita.year = list(map(int, gdp_per_capita.year))

In [73]:
gdp_per_capita

                      country  year gdp_per_capita
11355                 Albania  2000         96.149
11356                 Andorra  2000            100
11364                 Austria  2000         72.544
11365              Azerbaijan  2000        8.20365
11367                 Belgium  2000        1.26128
11371                Bulgaria  2000        6.57629
11374  Bosnia and Herzegovina  2000        48.8446
11375                 Belarus  2000       0.103444
11387             Switzerland  2000        57.0005
11404          Czech Republic  2000        3.13259
11405                 Germany  2000        6.19853
11408                 Denmark  2000         15.455
11420                   Spain  2000        15.6137
11421                 Estonia  2000       0.211441
11425                 Finland  2000          33.41
11427                  France  2000        12.9679
11431          United Kingdom  2000        2.66311
11432                 Georgia  2000        78.9332
11439                  Greece  2000        7.75667
11449                 Croatia  2000        57.3027
11451                 Hungary  2000       0.690517
11461                 Ireland  2000         5.0057
11464                 Iceland  2000        99.9349
11466                   Italy  2000        18.8482
11470              Kazakhstan  2000        14.6734
11487           Liechtenstein  2000              0
11493               Lithuania  2000        3.05728
11494              Luxembourg  2000        40.9953
11495                  Latvia  2000        68.2544
11499                  Monaco  2000              0
...                       ...   ...            ...
15915                  France  2017            NaN
15919          United Kingdom  2017            NaN
15920                 Georgia  2017            NaN
15927                  Greece  2017            NaN
15937                 Croatia  2017            NaN
15939                 Hungary  2017            NaN
15949                 Ireland  2017            NaN
15952                 Iceland  2017            NaN
15954                   Italy  2017            NaN
15958              Kazakhstan  2017            NaN
15975           Liechtenstein  2017            NaN
15981               Lithuania  2017            NaN
15982              Luxembourg  2017            NaN
15983                  Latvia  2017            NaN
15987                  Monaco  2017            NaN
15988                 Moldova  2017            NaN
15997                   Malta  2017            NaN
16000              Montenegro  2017            NaN
16014             Netherlands  2017            NaN
16015                  Norway  2017            NaN
16028                  Poland  2017            NaN
16032                Portugal  2017            NaN
16039                 Romania  2017            NaN
16050              San Marino  2017            NaN
16052                  Serbia  2017            NaN
16060                Slovenia  2017            NaN
16061                  Sweden  2017            NaN
16082                  Turkey  2017            NaN
16086                 Ukraine  2017            NaN
16099                  Kosovo  2017            NaN

[810 rows x 3 columns]

** 5. Renewable electricity output (% of total electricity output)**

In [74]:
renewable_electricity = pd.read_excel('datasets/'+str(datasets[4]), header=3 ,sheet_name='Data')

In [75]:
renewable_electricity.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,11.327377,12.101021,14.915254,14.912186,15.099280,14.856161,NaN,NaN,NaN
1,Afghanistan,AFG,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,87.176603,85.986547,82.487562,85.909980,78.636408,85.323549,86.050111,NaN,NaN,NaN
2,Angola,AGO,Renewable electricity output (% of total elect...,EG.ELC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,65.343189,67.957423,70.907804,60.799484,58.020935,53.175105,53.174928,NaN,NaN,NaN

In [76]:
renewable_electricity = pd.melt(renewable_electricity, id_vars=renewable_electricity.columns[0], 
            value_vars=list(renewable_electricity.columns[1:]), 
            var_name='Year', 
            value_name='percentage_renewable_electricity')

renewable_electricity.columns = ['country','year','percentage_renewable_electricity']
renewable_electricity = renewable_electricity[(renewable_electricity.year.isin(list(map(str,years))))&
                                             (renewable_electricity.country.isin(countries))]
renewable_electricity.year = list(map(int, renewable_electricity.year))

In [77]:
renewable_electricity.head(3)

       country  year percentage_renewable_electricity
11355  Albania  2000                           96.149
11356  Andorra  2000                              100
11364  Austria  2000                           72.544

**6. Number of climate legislation acts**

In [78]:
legislation_acts =  pd.read_csv('datasets/'+str(datasets[-3]))

In [79]:
legislation_acts.head(3)

,Country,Name,Year Passed,Executive/Legislative,Framework,Categories,Document Type
0,Portugal,Decree-Law no. 4/2018 on incentives to electri...,2018,Executive,NaN,Energy Demand; Energy Supply; Transportation,Decree law
1,Macedonia (the former Yugoslav Republic of),Energy Law (compliant with the EU Third Energy...,2018,Legislative,NaN,Energy Supply,Law
2,France,Energy Renovation in Buildings Plan,2018,Executive,NaN,Energy Demand,Plan

In [80]:
legislation_acts = legislation_acts.groupby(['Country','Year Passed']).count()['Name'].reset_index()
legislation_acts.columns = ['country','year','number_of_legislation_acts']
legislation_acts = legislation_acts[(legislation_acts.year.isin(years)) &
                                   (legislation_acts.country.isin(countries))]

In [81]:
legislation_acts.head(3)

   country  year  number_of_legislation_acts
0  Albania  2003                           1
1  Albania  2013                           1
2  Albania  2017                           1

** 7. CO2 emitions**

In [82]:
#pd.read_excel('datasets/'+str(datasets[7]), header=0 ,sheet='aggregator by year')

** 8. Gross domestic expenditure on R&D in % of GDP**

In [83]:
rd_expenditure = pd.read_excel('datasets/'+str(datasets[-4]), header=3 ,sheet_name='Sheet0')

In [84]:
rd_expenditure.head(3)

,geo\time,2000,Unnamed: 2,2001,Unnamed: 4,2002,Unnamed: 6,2003,Unnamed: 8,2004,...,2013,Unnamed: 28,2014,Unnamed: 30,2015,Unnamed: 32,2016,Unnamed: 34,2017,Unnamed: 36
0,EU28:EU (28 countries),0.24,(e),0.24,(e),0.23,(e),0.23,(e),0.23,...,0.25,NaN,0.24,NaN,0.24,NaN,0.23,NaN,0.23,(p)
1,EA19:Euro area (19 countries),0.26,(e),0.26,(e),0.26,(e),0.26,(e),0.26,...,0.28,NaN,0.28,NaN,0.28,NaN,0.27,NaN,0.28,(p)
2,BE:Belgium,0.12,NaN,0.12,NaN,0.14,NaN,0.13,NaN,0.14,...,0.2,NaN,0.21,NaN,0.23,NaN,0.23,(e),0.29,(p)

In [85]:
rd_expenditure = pd.melt(rd_expenditure, id_vars=rd_expenditure.columns[0], 
            value_vars=list(rd_expenditure.columns[1:]), var_name='Year', 
            value_name='rd_expenditure_on_share_gdp')
rd_expenditure.columns = ['country','year','rd_expenditure_on_share_gdp']
rd_expenditure.country = [i[3:] for i in rd_expenditure.country]
rd_expenditure = rd_expenditure[(rd_expenditure.year.isin(list(map(str,years)))) &
                               (rd_expenditure.country.isin(countries))]

rd_expenditure.year = list(map(int, rd_expenditure.year))
rd_expenditure.rd_expenditure_on_share_gdp = [
    0 if type(i) == str else i for i in rd_expenditure.rd_expenditure_on_share_gdp]

In [86]:
rd_expenditure.head(3)

    country  year  rd_expenditure_on_share_gdp
2   Belgium  2000                         0.12
3  Bulgaria  2000                         0.34
5   Denmark  2000                         0.28

** 9. Median equivalised net income of EU Household**

In [87]:
household_income = pd.read_csv('datasets/'+str(datasets[-2]))

In [88]:
household_income.head(3)

,TIME,GEO,HHTYP,INDIC_IL,UNIT,Value,Flag and Footnotes
0,2009,"European Union (EU6-1958, EU9-1973, EU10-1981,...",Total,Median equivalised net income,Euro,"14,802",e
1,2009,"European Union (EU6-1958, EU9-1973, EU10-1981,...",Total,Median equivalised net income,National currency,:,NaN
2,2009,"European Union (EU6-1958, EU9-1973, EU10-1981,...",Total,Median equivalised net income,Purchasing power standard (PPS),:,NaN

In [89]:
household_income = household_income[(household_income.HHTYP=='Total') &
                                    ((household_income.UNIT=='Euro'))][['GEO','TIME','Value']]
household_income.columns = ['country','year','median_household_income']
household_income.country = [i.replace(
    'Germany (until 1990 former territory of the FRG)','Germany') for i in household_income.country]
household_income = household_income[(household_income.year.isin(years))&
                                   (household_income.country.isin(countries))]
replacement = [i.replace(',','.') for i in household_income.median_household_income]
replacement = [j.replace(':','0') for j in replacement]
household_income.median_household_income = list(map(float, replacement))

In [90]:
household_income.head(3)

      country  year  median_household_income
105   Belgium  2009                   19.309
120  Bulgaria  2009                    2.828
150   Denmark  2009                   25.027

** Create an spreadsheet**

In [91]:
countries_years = pd.DataFrame()
countries_years['country'] = sorted(countries)*len(years)
countries_years['year'] = [i for s in [[y]*len(countries) for y in years] for i in s]

In [92]:
tables = {#'Countries Years':countries_years,
          #'Renewable Energy':renewable_energy,
          'Research Energy':research_energy,
          'Electric Consumption':electric_consumption,
          'Gdp per Capita':gdp_per_capita,
          'Renewable Electricity':renewable_electricity,
          #'Legislation Acts':legislation_acts,
          'RD Expenditure':rd_expenditure,
          'Household Income':household_income}

In [93]:
excelbook = pd.ExcelWriter('energy_data.xlsx')
for name, table in tables.items():
    table.to_excel(excelbook, name, index=False)
excelbook.save()

In [94]:
#sort data and add rate of change %

for name,t in tables.items():
    t = t.sort_values(['country', 'year'])
    t['roc'] = t.iloc[:,-1].pct_change() #selects last column as target for % change
    tables[name]=t
    #print(_)
    #print(t.head(3))

In [95]:
#list of selected EU countries
eu_countries = ['Austria' ]#...

#timeframe 
years = np.arange(2000,2018,1)

#create multivar time series as numpy array
mts = np.zeros(shape=(len(eu_countries), len(years), len(tables))) #matrix: country, year, factor

for c in range(len(eu_countries)):
    for y in range(len(years)):
        for i, key in enumerate(tables):
            t = tables[key]
            country = eu_countries[c]
            year = years[y]
            cell = t['roc'].loc[t['country']==country].loc[t['year']==year]
            
            if cell.size is not 1:  #fill missing value
                #print("results for ",eu_countries[c], years[y], key, ":",cell.size)
                cell = np.nan
            else:    
                val = cell.values[0]
            mts[c][y][i] = val

In [113]:
#list of selected EU countries
eu_countries = ['Austria', 'Belgium']#...

#timeframe 
years = np.arange(2000,2018,1)

y = np.array([y for y in years] * len(eu_countries))
c = np.ravel([[e for y in range(len(years))] for e in eu_countries])
countries_years = pd.DataFrame(np.c_[c,y])


countries_years = countries_years.reset_index(drop = True)
for name, t in tables.items():
    t = t.drop(t[~t['country'].isin(eu_countries)].index)
    t =  t.reset_index(drop=True)
    print(name,t)
    countries_years[name] = t['roc']
    print(countries_years)


#research_energy, electric_consumption = [d.reset_index(drop = True) for d in (research_energy, electric_consumption)]
#research_energy.join(electric_consumption,'kwh_per_capita_consumption')
f
#research_energy
#electric_consumption

Research Energy     country  year  rrd_million_euro       roc
0   Austria  2000             9.620       NaN
1   Austria  2001            12.074  0.255094
2   Austria  2002            10.330 -0.144443
3   Austria  2003             6.526 -0.368248
4   Austria  2004            12.430  0.904689
5   Austria  2005            12.111 -0.025664
6   Austria  2006            12.096 -0.001239
7   Austria  2007             9.105 -0.247272
8   Austria  2008            27.352  2.004064
9   Austria  2009            42.722  0.561933
10  Austria  2010            62.972  0.473995
11  Austria  2011            70.770  0.123833
12  Austria  2012            60.305 -0.147873
13  Austria  2013            59.508 -0.013216
14  Austria  2014            64.833  0.089484
15  Austria  2015            58.456 -0.098360
16  Austria  2016            67.333  0.151858
17  Austria  2017            65.747 -0.023555
18  Belgium  2000             0.000 -1.000000
19  Belgium  2001             0.000       NaN
20  Belgium  2002             0.000       NaN
21  Belgium  2003             0.000       NaN
22  Belgium  2004             0.000       NaN
23  Belgium  2005             0.000       NaN
24  Belgium  2006             0.000       NaN
25  Belgium  2007            26.732       inf
26  Belgium  2008             0.000 -1.000000
27  Belgium  2009             0.000       NaN
28  Belgium  2010             0.000       NaN
29  Belgium  2011            48.454       inf
30  Belgium  2012            82.751  0.707826
31  Belgium  2013            53.954 -0.347996
32  Belgium  2014            53.846 -0.002002
33  Belgium  2015            55.154  0.024291
34  Belgium  2016            44.863 -0.186587
35  Belgium  2017             0.000 -1.000000
          0     1  Research Energy
0   Austria  2000              NaN
1   Austria  2001         0.255094
2   Austria  2002        -0.144443
3   Austria  2003        -0.368248
4   Austria  2004         0.904689
5   Austria  2005        -0.025664
6   Austria  2006        -0.001239
7   Austria  2007        -0.247272
8   Austria  2008         2.004064
9   Austria  2009         0.561933
10  Austria  2010         0.473995
11  Austria  2011         0.123833
12  Austria  2012        -0.147873
13  Austria  2013        -0.013216
14  Austria  2014         0.089484
15  Austria  2015        -0.098360
16  Austria  2016         0.151858
17  Austria  2017        -0.023555
18  Belgium  2000        -1.000000
19  Belgium  2001              NaN
20  Belgium  2002              NaN
21  Belgium  2003              NaN
22  Belgium  2004              NaN
23  Belgium  2005              NaN
24  Belgium  2006              NaN
25  Belgium  2007              inf
26  Belgium  2008        -1.000000
27  Belgium  2009              NaN
28  Belgium  2010              NaN
29  Belgium  2011              inf
30  Belgium  2012         0.707826
31  Belgium  2013        -0.347996
32  Belgium  2014        -0.002002
33  Belgium  2015         0.024291
34  Belgium  2016        -0.186587
35  Belgium  2017        -1.000000
Electric Consumption     country  year kwh_per_capita_consumption       roc
0   Austria  2000                    7076.27  2.064160
1   Austria  2001                    7333.23  0.036313
2   Austria  2002                    7427.66  0.012876
3   Austria  2003                    7695.08  0.036004
4   Austria  2004                    7808.16  0.014695
5   Austria  2005                    7977.68  0.021711
6   Austria  2006                     8244.4  0.033433
7   Austria  2007                    8207.47 -0.004479
8   Austria  2008                    8233.01  0.003112
9   Austria  2009                     7944.8 -0.035008
10  Austria  2010                    8382.71  0.055120
11  Austria  2011                    8425.17  0.005065
12  Austria  2012                    8548.88  0.014684
13  Austria  2013                    8509.61 -0.004594
14  Austria  2014                    8355.84 -0.018070
15  Austria  2015                        NaN  0.000000
16  Austria  2016                        NaN  0.000000
17  Austria  2017                        NaN  0.000000
18  Belgium  2000                    8247.68  1.241229
19  Belgium  2001                    8267.19  0.002366
20  Belgium  2002                    8311.89  0.005408
21  Belgium  2003                     8411.9  0.012032
22  Belgium  2004                    8576.22  0.019535
23  Belgium  2005                       8510 -0.007722
24  Belgium  2006                    8683.67  0.020408
25  Belgium  2007                    8614.68 -0.007945
26  Belgium  2008                     8521.5 -0.010817
27  Belgium  2009                    7903.96 -0.072469
28  Belgium  2010                    8393.95  0.061994
29  Belgium  2011                    8021.91 -0.044322
30  Belgium  2012                    7973.22 -0.006069
31  Belgium  2013                    7972.95 -0.000035
32  Belgium  2014                    7709.12 -0.033090
33  Belgium  2015                        NaN  0.000000
34  Belgium  2016                        NaN  0.000000
35  Belgium  2017                        NaN  0.000000
          0     1  Research Energy  Electric Consumption
0   Austria  2000              NaN              2.064160
1   Austria  2001         0.255094              0.036313
2   Austria  2002        -0.144443              0.012876
3   Austria  2003        -0.368248              0.036004
4   Austria  2004         0.904689              0.014695
5   Austria  2005        -0.025664              0.021711
6   Austria  2006        -0.001239              0.033433
7   Austria  2007        -0.247272             -0.004479
8   Austria  2008         2.004064              0.003112
9   Austria  2009         0.561933             -0.035008
10  Austria  2010         0.473995              0.055120
11  Austria  2011         0.123833              0.005065
12  Austria  2012        -0.147873              0.014684
13  Austria  2013        -0.013216             -0.004594
14  Austria  2014         0.089484             -0.018070
15  Austria  2015        -0.098360              0.000000
16  Austria  2016         0.151858              0.000000
17  Austria  2017        -0.023555              0.000000
18  Belgium  2000        -1.000000              1.241229
19  Belgium  2001              NaN              0.002366
20  Belgium  2002              NaN              0.005408
21  Belgium  2003              NaN              0.012032
22  Belgium  2004              NaN              0.019535
23  Belgium  2005              NaN             -0.007722
24  Belgium  2006              NaN              0.020408
25  Belgium  2007              inf             -0.007945
26  Belgium  2008        -1.000000             -0.010817
27  Belgium  2009              NaN             -0.072469
28  Belgium  2010              NaN              0.061994
29  Belgium  2011              inf             -0.044322
30  Belgium  2012         0.707826             -0.006069
31  Belgium  2013        -0.347996             -0.000035
32  Belgium  2014        -0.002002             -0.033090
33  Belgium  2015         0.024291              0.000000
34  Belgium  2016        -0.186587              0.000000
35  Belgium  2017        -1.000000              0.000000
Gdp per Capita     country  year gdp_per_capita       roc
0   Austria  2000         72.544 -0.157608
1   Austria  2001        69.1568 -0.046691
2   Austria  2002        69.0129 -0.002080
3   Austria  2003        60.7828 -0.119255
4   Austria  2004        64.2022  0.056256
5   Austria  2005        63.6268 -0.008963
6   Austria  2006        65.5155  0.029685
7   Austria  2007         68.687  0.048408
8   Austria  2008        69.2309  0.007918
9   Austria  2009        71.1397  0.027572
10  Austria  2010        66.2113 -0.069277
11  Austria  2011        65.6314 -0.008758
12  Austria  2012        74.5292  0.135572
13  Austria  2013        78.0248  0.046903
14  Austria  2014        81.0569  0.038860
15  Austria  2015        76.4908 -0.056332
16  Austria  2016            NaN  0.000000
17  Austria  2017            NaN  0.000000
18  Belgium  2000        1.26128  0.546294
19  Belgium  2001        1.36737  0.084113
20  Belgium  2002          1.406  0.028248
21  Belgium  2003         1.4265  0.014584
22  Belgium  2004        1.77468  0.244081
23  Belgium  2005        2.45715  0.384556
24  Belgium  2006        3.49979  0.424327
25  Belgium  2007        3.98273  0.137991
26  Belgium  2008        5.28576  0.327173
27  Belgium  2009        6.05639  0.145792
28  Belgium  2010        6.92081  0.142728
29  Belgium  2011        9.41088  0.359795
30  Belgium  2012        12.8129  0.361496
31  Belgium  2013        14.2094  0.108992
32  Belgium  2014        17.0806  0.202067
33  Belgium  2015           20.8  0.217754
34  Belgium  2016            NaN  0.000000
35  Belgium  2017            NaN  0.000000
          0     1  Research Energy  Electric Consumption  Gdp per Capita
0   Austria  2000              NaN              2.064160       -0.157608
1   Austria  2001         0.255094              0.036313       -0.046691
2   Austria  2002        -0.144443              0.012876       -0.002080
3   Austria  2003        -0.368248              0.036004       -0.119255
4   Austria  2004         0.904689              0.014695        0.056256
5   Austria  2005        -0.025664              0.021711       -0.008963
6   Austria  2006        -0.001239              0.033433        0.029685
7   Austria  2007        -0.247272             -0.004479        0.048408
8   Austria  2008         2.004064              0.003112        0.007918
9   Austria  2009         0.561933             -0.035008        0.027572
10  Austria  2010         0.473995              0.055120       -0.069277
11  Austria  2011         0.123833              0.005065       -0.008758
12  Austria  2012        -0.147873              0.014684        0.135572
13  Austria  2013        -0.013216             -0.004594        0.046903
14  Austria  2014         0.089484             -0.018070        0.038860
15  Austria  2015        -0.098360              0.000000       -0.056332
16  Austria  2016         0.151858              0.000000        0.000000
17  Austria  2017        -0.023555              0.000000        0.000000
18  Belgium  2000        -1.000000              1.241229        0.546294
19  Belgium  2001              NaN              0.002366        0.084113
20  Belgium  2002              NaN              0.005408        0.028248
21  Belgium  2003              NaN              0.012032        0.014584
22  Belgium  2004              NaN              0.019535        0.244081
23  Belgium  2005              NaN             -0.007722        0.384556
24  Belgium  2006              NaN              0.020408        0.424327
25  Belgium  2007              inf             -0.007945        0.137991
26  Belgium  2008        -1.000000             -0.010817        0.327173
27  Belgium  2009              NaN             -0.072469        0.145792
28  Belgium  2010              NaN              0.061994        0.142728
29  Belgium  2011              inf             -0.044322        0.359795
30  Belgium  2012         0.707826             -0.006069        0.361496
31  Belgium  2013        -0.347996             -0.000035        0.108992
32  Belgium  2014        -0.002002             -0.033090        0.202067
33  Belgium  2015         0.024291              0.000000        0.217754
34  Belgium  2016        -0.186587              0.000000        0.000000
35  Belgium  2017        -1.000000              0.000000        0.000000
Renewable Electricity     country  year percentage_renewable_electricity       roc
0   Austria  2000                           72.544 -0.157608
1   Austria  2001                          69.1568 -0.046691
2   Austria  2002                          69.0129 -0.002080
3   Austria  2003                          60.7828 -0.119255
4   Austria  2004                          64.2022  0.056256
5   Austria  2005                          63.6268 -0.008963
6   Austria  2006                          65.5155  0.029685
7   Austria  2007                           68.687  0.048408
8   Austria  2008                          69.2309  0.007918
9   Austria  2009                          71.1397  0.027572
10  Austria  2010                          66.2113 -0.069277
11  Austria  2011                          65.6314 -0.008758
12  Austria  2012                          74.5292  0.135572
13  Austria  2013                          78.0248  0.046903
14  Austria  2014                          81.0569  0.038860
15  Austria  2015                          76.4908 -0.056332
16  Austria  2016                              NaN  0.000000
17  Austria  2017                              NaN  0.000000
18  Belgium  2000                          1.26128  0.546294
19  Belgium  2001                          1.36737  0.084113
20  Belgium  2002                            1.406  0.028248
21  Belgium  2003                           1.4265  0.014584
22  Belgium  2004                          1.77468  0.244081
23  Belgium  2005                          2.45715  0.384556
24  Belgium  2006                          3.49979  0.424327
25  Belgium  2007                          3.98273  0.137991
26  Belgium  2008                          5.28576  0.327173
27  Belgium  2009                          6.05639  0.145792
28  Belgium  2010                          6.92081  0.142728
29  Belgium  2011                          9.41088  0.359795
30  Belgium  2012                          12.8129  0.361496
31  Belgium  2013                          14.2094  0.108992
32  Belgium  2014                          17.0806  0.202067
33  Belgium  2015                             20.8  0.217754
34  Belgium  2016                              NaN  0.000000
35  Belgium  2017                              NaN  0.000000
          0     1  Research Energy  Electric Consumption  Gdp per Capita  \
0   Austria  2000              NaN              2.064160       -0.157608
1   Austria  2001         0.255094              0.036313       -0.046691
2   Austria  2002        -0.144443              0.012876       -0.002080
3   Austria  2003        -0.368248              0.036004       -0.119255
4   Austria  2004         0.904689              0.014695        0.056256
5   Austria  2005        -0.025664              0.021711       -0.008963
6   Austria  2006        -0.001239              0.033433        0.029685
7   Austria  2007        -0.247272             -0.004479        0.048408
8   Austria  2008         2.004064              0.003112        0.007918
9   Austria  2009         0.561933             -0.035008        0.027572
10  Austria  2010         0.473995              0.055120       -0.069277
11  Austria  2011         0.123833              0.005065       -0.008758
12  Austria  2012        -0.147873              0.014684        0.135572
13  Austria  2013        -0.013216             -0.004594        0.046903
14  Austria  2014         0.089484             -0.018070        0.038860
15  Austria  2015        -0.098360              0.000000       -0.056332
16  Austria  2016         0.151858              0.000000        0.000000
17  Austria  2017        -0.023555              0.000000        0.000000
18  Belgium  2000        -1.000000              1.241229        0.546294
19  Belgium  2001              NaN              0.002366        0.084113
20  Belgium  2002              NaN              0.005408        0.028248
21  Belgium  2003              NaN              0.012032        0.014584
22  Belgium  2004              NaN              0.019535        0.244081
23  Belgium  2005              NaN             -0.007722        0.384556
24  Belgium  2006              NaN              0.020408        0.424327
25  Belgium  2007              inf             -0.007945        0.137991
26  Belgium  2008        -1.000000             -0.010817        0.327173
27  Belgium  2009              NaN             -0.072469        0.145792
28  Belgium  2010              NaN              0.061994        0.142728
29  Belgium  2011              inf             -0.044322        0.359795
30  Belgium  2012         0.707826             -0.006069        0.361496
31  Belgium  2013        -0.347996             -0.000035        0.108992
32  Belgium  2014        -0.002002             -0.033090        0.202067
33  Belgium  2015         0.024291              0.000000        0.217754
34  Belgium  2016        -0.186587              0.000000        0.000000
35  Belgium  2017        -1.000000              0.000000        0.000000

    Renewable Electricity
0               -0.157608
1               -0.046691
2               -0.002080
3               -0.119255
4                0.056256
5               -0.008963
6                0.029685
7                0.048408
8                0.007918
9                0.027572
10              -0.069277
11              -0.008758
12               0.135572
13               0.046903
14               0.038860
15              -0.056332
16               0.000000
17               0.000000
18               0.546294
19               0.084113
20               0.028248
21               0.014584
22               0.244081
23               0.384556
24               0.424327
25               0.137991
26               0.327173
27               0.145792
28               0.142728
29               0.359795
30               0.361496
31               0.108992
32               0.202067
33               0.217754
34               0.000000
35               0.000000
RD Expenditure     country  year  rd_expenditure_on_share_gdp       roc
0   Austria  2000                         0.00       NaN
1   Austria  2001                         0.00       NaN
2   Austria  2002                         0.12       inf
3   Austria  2003                         0.00 -1.000000
4   Austria  2004                         0.11       inf
5   Austria  2005                         0.12  0.090909
6   Austria  2006                         0.12  0.000000
7   Austria  2007                         0.13  0.083333
8   Austria  2008                         0.14  0.076923
9   Austria  2009                         0.14  0.000000
10  Austria  2010                         0.14  0.000000
11  Austria  2011                         0.14  0.000000
12  Austria  2012                         0.13 -0.071429
13  Austria  2013                         0.13  0.000000
14  Austria  2014                         0.14  0.076923
15  Austria  2015                         0.14  0.000000
16  Austria  2016                         0.22  0.571429
17  Austria  2017                         0.22  0.000000
18  Belgium  2000                         0.12 -0.454545
19  Belgium  2001                         0.12  0.000000
20  Belgium  2002                         0.14  0.166667
21  Belgium  2003                         0.13 -0.071429
22  Belgium  2004                         0.14  0.076923
23  Belgium  2005                         0.15  0.071429
24  Belgium  2006                         0.15  0.000000
25  Belgium  2007                         0.15  0.000000
26  Belgium  2008                         0.17  0.133333
27  Belgium  2009                         0.18  0.058824
28  Belgium  2010                         0.17 -0.055556
29  Belgium  2011                         0.17  0.000000
30  Belgium  2012                         0.19  0.117647
31  Belgium  2013                         0.20  0.052632
32  Belgium  2014                         0.21  0.050000
33  Belgium  2015                         0.23  0.095238
34  Belgium  2016                         0.23  0.000000
35  Belgium  2017                         0.29  0.260870
          0     1  Research Energy  Electric Consumption  Gdp per Capita  \
0   Austria  2000              NaN              2.064160       -0.157608
1   Austria  2001         0.255094              0.036313       -0.046691
2   Austria  2002        -0.144443              0.012876       -0.002080
3   Austria  2003        -0.368248              0.036004       -0.119255
4   Austria  2004         0.904689              0.014695        0.056256

wrg